
<table>
	<tr style="line-height:20px">
	    <td><b>ROYAUME DU MAROC</b></td>
		<td rowspan="3" align="center"> <img src="{{ asset('bundles/uitent/img/ibklogo.jpg') }}" alt="Logo" height="70" width="70"> </TD>
	    <td td align="right">المملكة المغربية</td>
    </tr>
	<tr style="line-height:20px">
	    <td><b>Université Ibn Tofail</b></td>
	    <td align="right">جامعة إبن طفيل</td>
    </tr>
	<tr style="line-height:20px">
	    <td><b>Faculté des Sciences de Kénitra</b></td>
	    <td align="right">كلية العلوم القنيطرة</td>
    </tr>
</table>

<br><br>



<br><br>

<h2><U><B><p align="center">Emploi du temps</p></B></U></h2><br>

