<br/><br/><br/>
<table>
	<tr style="line-height:20px">
	    <td><b>Id : </b></td>
	    <td colspan="3">{{ individu.codInd}}</td>
    </tr>
	<tr style="line-height:20px">
	    <td><b>Prénom : </b></td>
	    <td>{{ individu.prenom}}</td>
	    <td><b>Nom :</b></td>
	    <td>{{ individu.nom }}</td>
    </tr>
</table>
<br/><br/>